<div [ngClass]="{ 'home-background': router.url === '/' }">
  <div [ngClass]="{ 'home-background-overlay': router.url === '/' }">
    <nav class="navbar">
      <div class="navbar-spacer"></div>
      <a class="navbar-brand-container" routerLink="/" (click)="navigate('/', $event)">
        <img src="./assets/misc-icons/Dragon_med_helm.png" />
        <h4 class="navbar-brand">Gear Check</h4>
      </a>

      <!-- Hamburger (only shown on mobile) -->
      <button class="hamburger" (click)="isMenuOpen = !isMenuOpen">
        {{ isMenuOpen ? '✖' : '☰' }}
      </button>

      <div class="navbar-links" [class.mobile-open]="isMenuOpen">
        <a routerLink="/gear" (click)="navigate('/gear', $event)" class="nav-item">
          <img src="./assets/misc-icons/Worn_Equipment.png" alt="Gear Icon" />
          <span>Gear Management</span>
        </a>

        <a routerLink="/monster" (click)="navigate('/monster', $event)" class="nav-item">
          <img src="./assets/misc-icons/Mr._Mordaut_chathead.png" alt="Monster Icon" />
          <span>Beastiary</span>
        </a>

        <a routerLink="/roulette" (click)="navigate('/roulette', $event)" class="nav-item">
          <img src="./assets/misc-icons/Mystery_box_detail.png" alt="Roulette Icon" />
          <span>Boss Roulette</span>
        </a>
      </div>
    </nav>

    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
