.gear-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gear-category {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.gear-category h4 {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.gear-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gear-box {
  position: relative;
  width: 100px;
  height: 130px; /* Keep extra vertical space */
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Aligns everything to the top */
  padding: 15px 10px;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
  transition:
    transform 0.2s,
    background 0.3s;
  text-align: center;
}

.gear-box img {
  width: 60px;
  height: 60px;
  /*    image-rendering: pixelated;*/
  display: block;
  margin-bottom: auto; /* Pushes text to the bottom */
  padding-top: 10px;
  padding-bottom: 10px;
}

.gear-box p {
  font-size: 14px; /* Reduce font size slightly */
  font-weight: bold;
  margin-top: auto; /* Anchors text to the bottom */
  padding-top: 5px; /* Small spacing above text */
  text-align: center;
  word-wrap: break-word; /* Ensures words break if too long */
  /*overflow: hidden;*/ /* Prevents text from overflowing the box */
  white-space: normal; /* Allows text to wrap onto multiple lines */
  max-width: 100%; /* Ensures it stays within the box */
}

.gear-box:hover {
  transform: scale(1.1);
}

.wiki-link {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  background: none;
  border-radius: 5px;
  padding: 2px;
  text-decoration: none;
}

.owned {
  background: rgba(0, 255, 0, 0.4);
  border-color: lime;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
